p {
  text-align: center;
  color: red;
  background: yellow;
}
img {
  border: 3px solid skyblue;
  box-shadow: 2px 2px 8px skyblue;
  border-radius: 6.5px;
  padding: 5px;
  margin: 20px;
  margin-top: 10px;
}
